*{
  box-sizing: border-box;
}

/*=== HEADER ===*/
.header {
  background-image: url(../img/bg/Bg_header.png);
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.logo a{
  font-family: 'Poppins', sans-serif;
  font-size: 72px;
  color: #FE043C;
  text-decoration: none;
}

.menu {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.menu a {
  padding-left: 38px;
  color: #2E266F;
  text-decoration: none;
}

.menu a:first-child {
  padding-left: 0px;
}

.user {
  display: flex;
  text-align: center;
  align-items: center;
}

.user p {
  padding: 0;
  margin: 0;
}